@page "/"

<div class="d-flex flex-column">
	<div class="d-flex flex-row align-self-center">
		<div class="d-flex flex-column">
			<div class="d-flex justify-content-center">
				<div class="rounded shadow d-flex flex-column m-2 p-2">
					<User/>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column">
			<div class="rounded shadow d-flex flex-column m-2 p-2">
				<CreateMission />
			</div>
		</div>
		<div class="d-flex flex-column">
			<div class="rounded shadow d-flex flex-column m-2 p-2">
				<StateMachineFrame>
					<TabFrame>
						<Tab State="0">
							Host Room
						</Tab>
						<Tab State="1">
							Join Room
						</Tab>
					</TabFrame>
					<Step State="0">
						<ManageRoom/>
					</Step>
					<Step State="1">
						<JoinRoom/>
					</Step>
				</StateMachineFrame>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="rounded shadow d-flex flex-column m-2 p-2">
			<span>
				Issues?<br />
				Visit the official <a href="https://github.com/PaulBraetz/UnityShuffle">git repository</a>.
			</span>
		</div>
	</div>
</div>