@page "/"

<div class="d-flex flex-column">
	<div class="d-flex flex-row align-self-center">
		<div class="d-flex flex-column">
			<div class="d-flex justify-content-center">
				<div class="rounded shadow d-flex flex-column m-2 p-2">
					<Authorized>
						<CollapseFrame>
							<CollapseText>
								<CollapseChevron /><Localize Value="Change Email" />
							</CollapseText>
							<WhenNotCollapsed>
								<ChangeEmailPreset />
							</WhenNotCollapsed>
						</CollapseFrame>
						<CollapseFrame>
							<CollapseText>
								<CollapseChevron /><Localize Value="Change Password" />
							</CollapseText>
							<WhenNotCollapsed>
								<ChangePasswordPreset />
							</WhenNotCollapsed>
						</CollapseFrame>
						<LogoutPreset />
					</Authorized>
					<NotAuthorized>
						<CollapseFrame>
							<CollapseText>
								<CollapseChevron /><Localize Value="Register" />
							</CollapseText>
							<WhenNotCollapsed>
								<RegisterPreset />
							</WhenNotCollapsed>
						</CollapseFrame>
						<CollapseFrame>
							<CollapseText>
								<CollapseChevron /><Localize Value="Login" />
							</CollapseText>
							<WhenNotCollapsed>
								<LoginPreset />
							</WhenNotCollapsed>
						</CollapseFrame>
						<CollapseFrame>
							<CollapseText>
								<CollapseChevron /><Localize Value="Forgot Password" />
							</CollapseText>
							<WhenNotCollapsed>
								<ForgotPasswordPreset />
							</WhenNotCollapsed>
						</CollapseFrame>
					</NotAuthorized>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column">
			<div class="rounded shadow d-flex flex-column m-2 p-2">
				<ManageRoom />
			</div>
			<div class="rounded shadow d-flex flex-column m-2 p-2">
				<JoinRoom />
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="rounded shadow d-flex flex-column m-2 p-2">
			<span>
				Issues?<br />
				Visit the official <a href="https://github.com/PaulBraetz/UnityShuffle">git repository</a>.
			</span>
		</div>
	</div>
</div>