@inherits LayoutComponentBase

<PageTitle>Stellar Ops</PageTitle>

<div class="page">
	<main>
		<article class="content px-4">
			<SessionFrame>
				<ConsentFrame>
					<SessionFrameInitialized>
						@Body
					</SessionFrameInitialized>
					<SessionFrameNotInitialized>
						Loading
					</SessionFrameNotInitialized>
				</ConsentFrame>
			</SessionFrame>
		</article>
	</main>
</div>
