@inherits LayoutComponentBase

<PageTitle>Stellar Ops</PageTitle>

	<main>		
			<SessionFrame>
				<ConsentFrame>
					<SessionFrameInitialized>
						@Body
					</SessionFrameInitialized>
					<SessionFrameNotInitialized>
						Loading
					</SessionFrameNotInitialized>
				</ConsentFrame>
			</SessionFrame>
	</main>